*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// variables
:root {
	--green: #29ca8a;
	--blue: #051be5;
	--dark-blue: #18172c;
	--grey: #f7f7f7;
}

// mixins
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
}

.mobile-hidden {
	display: none;
}

@media (min-width: 768px) {
	.mobile-hidden {
		display: block;
	}

	.tablet-hidden {
		display: none;
	}
}
