*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// variables
:root {
	--green: #29ca8a;
	--blue: #051be5;
	--grey: #f7f7f7;
}


// mixins
@mixin full-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
