.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	padding: 80px 30px;

	&--horizontal-padding-small {
		padding: 80px 20px;
	}

	&--padding-top-none {
		padding-top: 0 !important;
	}

	&--grey {
		background-color: var(--grey);
	}

	&__intro {
		text-align: center;
	}

	&__header {
		margin-bottom: 15px;
	}

	&__description {
		margin: 0 auto 50px;

		&--mb-small {
				margin: 0 auto 10px;
		}
	}

	@media (max-width: 480px) {
		&--padding-bottom-30-mobile {
			padding-bottom: 30px;
		}
	}

	@media (min-width: 768px) {
		&__description {
			max-width: 550px;
		}
	}
	@media (min-width: 1440px) {
		padding: 100px 0;


	}
}
