.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	padding: 100px 0px;

	&--padding-small {
		padding: 80px 0px;
	}

	&--grey {
		background-color: var(--grey);
	}

	&__intro {
		text-align: center;
	}

	&__header {
		margin-bottom: 15px;
	}

	&__description {
		max-width: 700px;
		margin: 0 auto 60px;
	}
}
