body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: 45px;
	line-height: 56px;
	color: #fff;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
	line-height: 50px;
}

h5 {
	font-size: 24px;
	line-height: 46px;
}

h6 {
	font-size: 18px;
	line-height: 26px;
}

p {
	font-size: 16px;
	margin-bottom: 20px;
}

.tiny {
	font-size: 14px;
}

.caps {
	text-transform: uppercase;
}

@media (min-width: 375px) {
	h1 {
		font-size: 60px;
		line-height: 82px;
	}
}
