.footer {
	background-color: var(--dark-blue);
	color: #fff;

	&__columns {
		@include flex-space-between;
		flex-direction: column;
		margin-top: 10px;
	}

	&__column {
		margin-bottom: 40px;
	}

	div.footer__column:nth-of-type(4) {
		margin-bottom: 0;
	}

	&__logo {
		margin-top: 5px;
	}

	p {
		line-height: 28px;
	}

	&__subheader {
		text-transform: uppercase;
		letter-spacing: 1.4px;
	}

	&__column--alternate p {
		margin-bottom: 0;
	}

	&__links {
		list-style: none;
	}

	&__link {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}

@media (min-width: 768px) {
	&__columns {
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 10px;
	}

	&__column {
		width: 33%;

		&--logo {
			width: 100%;
		}

		&--website {
			width: 21%;
		}
	}
}

@media (min-width: 1024px) {
	&__columns {
		flex-wrap: nowrap;
	}

	&__column {
		width: 22%;

		&--contact {
			width: 25%;
		}

		&--website {
			width: 20%;
		}
	}
}




}
