.accordion__wrapper {
	background-color: var(--dark-blue);
	background-color: #fff;
	max-width: 940px;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 35px;
}

.accordion__button {
	width: 100%;
	background-color: var(--dark-blue);
	background-color: #fff;
	border: none;
	outline: none;
	text-align: left;
	padding: 15px 20px 15px 0px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.2s linear;
	border-bottom: 2px solid var(--blue);
	padding-left: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion__button.is-open {
	background-color: var(--green);
	border-bottom: 2px solid var(--green);
	color: #fff;
}

.accordion__button::after {
	content: '\f055';
	font-family: 'fontawesome';
	font-size: 14px;
	color: var(--blue);
	margin-top: 4px;
}

.accordion__button.is-open::after {
	content: '\f056';
	color: #fff;
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.accordion__content p {
	margin-top: 20px;
}

@media (min-width: 1024px) {
	.accordion__wrapper {
	padding: 50px 100px;
}
}
