.hero {
	background-image: url("../../img/home-hero.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;

	&--about {
		background-image: url("../../img/about-hero.jpg");
	}

	&--reviews {
		background-image: url("../../img/reviews-hero.jpg");
	}

	&--small {
		display: block;
		height: 50vh;

		& > .container {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}

	&__content {
		color: #fff;
		text-align: center;
		transform: translateY(0px);
		transition: all 1s ease;
		padding: 0px 10px;

		&--small {
			text-align: left;
		}
	}

	&__content.open {
		transform: translateY(180px);
	}

	&__description {
		text-align: center;
		font-size: 18px;
		line-height: 31px;
	}

	&__ctas {
		display: flex;
		justify-content: space-between;
		margin: 20px auto 0;
	}

	@media (min-width: 375px) {
		&__description {
			text-align: center;
			font-size: 20px;
			line-height: 34px;
			padding: 20px 0px;
		}
	}

	@media (min-width: 768px) {
		justify-content: center;

		&__content {
			max-width: 640px;
		}

		&__content.open {
			transform: translateY(0px);
		}

		&__ctas {
			max-width: 374px;
		}
	}
}
