.three-column {
	&__columns {
		display: flex;
		// justify-content: space-between;
		// flex-direction: row;
		flex-direction: column;
	}

	&__column {
		// width: 31%;
		margin-bottom: 50px;
	}
	
	&__column {
		// width: 31%;
		margin-bottom: 50px;
	}

	&__card {
		margin-bottom: 25px;
		padding: 30px 25px 20px 30px;
		-webkit-box-shadow: 0 0 10px 5px rgba(190,190,190,1);
		-moz-box-shadow: 0 0 10px 5px rgba(190,190,190,1);
		box-shadow: 0 0 10px 5px rgba(190,190,190,1);
		position: relative;
	}

	&__card::after {
		content: "";
		position: absolute;
		height: 5px;
		background-color: var(--green);
		width: 100%;
		bottom: -2px;
		left: 0;
	}

	&__header {
		margin-bottom: 20px;
		max-width: 362px;
	}

	&__paragraph {
		margin-bottom: 35px;
	}
}
