.two-column {
		display: flex;
		flex-direction: column;

	&__left {
		margin-top: 40px;
		margin-bottom: 43px;
	}

	&__image {
		width: 100%;
		max-width: 700px;
	}

	&--reverse {
		flex-direction: column-reverse;
	}

	@media (min-width: 768px) {

		&__right {
			margin: 0 auto;
		}

		&__image {
			max-width: 700px;
		}

		&--reverse .two-column__left {
			margin: 0 auto;
		}

		&--reverse .two-column__right {
			margin-bottom: 40px;
		}
	}

	@media (min-width: 1740px) {

			flex-direction: row;

		&__left {
			width: 60%;
			padding-right: 40px;
		}

		&__right {
			position: relative;
		}

		&__image {
			position: absolute;
			top: 0px;
			left: -223px;
			width: auto;
			max-width: none;
		}


		&--reverse .two-column__left {
			position: relative;
			width: 171%;
			padding-right: 0;
		}

		&--reverse .two-column__image {
			right: 70px;
			left: auto;
		}

		&--reverse .two-column__right {
			margin: 40px auto;
		}
	}


}
